fastapi==0.115.8
uvicorn[standard]==0.34.0
psycopg2-binary==2.9.10
confluent-kafka==2.8.0
openai-whisper==20240930
sentence-transformers==3.4.1
pgvector==0.3.6
boto3==1.36.26
python-multipart==0.0.20
moviepy==1.0.3
numpy==1.26.4
